* {
    font-family: 'poppins', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    margin-top: 70px; 
}

header{
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    padding: 20px 100px;
    width: 100%;
    background-color: rgba(105, 90, 90, 0.8);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    
}

section {
    min-height: 100vh;              
    background-size: cover;         
    background-position: center;    
    background-repeat: no-repeat;   
    min-height: 100vh;          
    background-size: cover;
} 


.logo{
    position: relative;
    z-index: 1;
    font-size: 25px;
    border: 2px solid rgb(0, 0, 0);
    color: rgb(199, 28, 28);
    user-select: none;
}

.nav a{
    position: relative;
    z-index: 1;
    font-size: 25px;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
    color: rgb(102, 21, 21);
    border: 20px solid rgb(0, 0, 0);
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.nav a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background-color: #ffffff;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease;
}
.nav a:hover::after{
    transform: scaleX(1);
    transform-origin: left;
}

.inicio{
    background-image: url('imagenes/portada.png');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}

.inic{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
    background-color: #ec0202;
}

.inic-title{
    font-size: 50px;
    color: white;
    margin-bottom: 20px;
}

.introduccion{
    background-image: url('imagenes/inicio.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}

.bg-int{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
    background-color: #0296ec;

}

.bg-sucesiones{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
    background-color: #a6ec02;
}

.bg-series{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
    background-color: #ec0235;
}

.bg-vc{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
    background-color: #ec02b8;
}

.bg-fibonacci{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
    background-color: #02ec8c;
}